#!/usr/bin/env sh
{{- if (eq .shell "zsh") }}
{{ template "sh-req-command" "chezmoi" -}}

echo "[chezmoi] Creating zsh config"
sudo mkdir -p /etc/zsh
chezmoi execute-template < {{ joinPath .chezmoi.sourceDir "etc/zsh_zshenv" | quote }} | sudo tee /etc/zsh/zshenv > /dev/null

if [[ ! -f {{.xdg.data}}/zinit/bin/zinit.zsh ]]; then
    ZPLG_HOME={{ .xdg.data}}/zinit sh -c "$(curl -fsSL https://git.io/zinit-install)"
fi

chsh -s /bin/zsh
{{- end }}
