#!/usr/bin/env bash
{{ if hasKey . "podman" }}
{{ if (eq .chezmoi.hostname "kvineet-pc") -}}
{{ template "sh-req-command" "podman" -}}
{{ template "sh-req-command" "podman-compose" -}}
{{ template "info" -}}
printf "generating pods\n"
# For each  service
#  - start pod using podman-compose
#  - generate systemd units
{{ range $service := .podman -}}
if ! sudo podman pod exists {{ $service }}; then
    sudo podman play kube {{ joinPath $.chezmoi.sourceDir "etc/pods/" $service (cat $service "-pod.yaml" | nospace) | quote }}
fi
{{ end -}}
{{ range $service := .podman -}}
 sudo podman generate systemd --files --name {{$service}}
{{ end -}}
# Copy service files to systemd units folder
sudo mv *.service /etc/systemd/system/
# Reload daemon to load new unit files
sudo systemctl daemon-reload
# enable services
{{ range $service := .podman -}}
sudo systemctl enable pod-{{$service}}
{{ end -}}
#  LocalWords:  webDav
{{ end -}}
{{ end -}}
