data:
  update:
    interval: 2days
  editor: /usr/sbin/nvim
  shell: zsh
  zsh:
    prompt: p10k # possible values starship, p10k
  xdg:
    config: $HOME/.config
    cache: $HOME/.cache
    data: $HOME/.local/share
  tools:
    - --
{{- if (contains "nuance" .chezmoi.fqdnHostname) }}
    - kubectl
    - azcli
{{ end }}
  podman:
  - --
{{- if (contains "pc" .chezmoi.fqdnHostname) }}
  - emby
  - torrent
  - plex
  - webDav
{{ end }}
  lastupdated:
    gopkgs: 0
    kubectl: 0
