data:
  editor: /usr/sbin/nvim
  shell: zsh
  zsh:
    prompt: p10k     # possible values starship, p10k
  xdg:
    config: $HOME/.config
    cache: $HOME/.cache
    data: $HOME/.local/share
  tools: kubectl azcli
