encryption: gpg
gpg:
  symmetric: true
diff:
  exclude:
  - scripts
  pager: diff-so-fancy
data:
  update:
    interval: 2days
  editor: /usr/sbin/nvim
  shell: zsh
  zsh:
    prompt: p10k # possible values starship, p10k
  xdg:
    config: {{ joinPath .chezmoi.homeDir ".config" }}
    cache: {{ joinPath .chezmoi.homeDir ".cache" }}
    data: {{ joinPath .chezmoi.homeDir ".local/share" }}
  tools:
    - --
{{- if (contains "nuance" .chezmoi.fqdnHostname) }}
    - kubectl
    - azcli
{{ end }}
  podman:
  - --
{{- if (contains "pc" .chezmoi.fqdnHostname) }}
  - emby
  - torrent
  - plex
  - webDav
{{ end }}
  lastupdated:
    gopkgs: 0
    kubectl: 0
